.login-container {
    width: 300px;
    height: 100%;
    margin: 25px;
    padding: 80px;
    border-radius: 15px;
    background-color: lightblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
    font-family: 'comic san', sans-serif;
    padding: 5px;
  }
  
  .input-group label {
    display: block;
    font-weight: bold;
    padding: 8px;
    
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #ccc;
    
  }
  
  button {
    width: 105%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }